@{
    Layout = "MasterPageDeslogadoCadastro";
}
<html>
    <link href="/css/LoginUsuario.css" rel="stylesheet">
<div class="formulario">
        <div class="form-header">
            <h1>Fazer Login</h1>
            <p>
            @ViewBag.LoginFalha
            </p> 
        </div>
        <div class="form-container">
            <form action="/Usuario/Login" method="Post">           
                <label>E-mail</label>
                <input type="email" name="email" required = "true">
                
                <label>
                Senha
                <input type="password" name="senha" required = "true">
                </label>
                <br>
                <br>
                <button type="submit">Entrar</button>  
            </form>
            <div class="botao-Cadastro">
            <a href="/Usuario/Cadastro">Cadastrar Usuario</a>
            </div>
        </div>
    </div>
    </form>
</html>