*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Começo menu */
.Barra-Top{
    position: sticky;
    width: 100%;
    background-color: #007db8;
    padding-left: 8em;
    padding-right: 8em;
    padding-bottom:5px;
    background:
      linear-gradient(
        to bottom, 
        rgba(0,0,0,1) 0%,
        /*purple rgba(92,7,52,1) 0%,*/
        rgba(0,125,184,1) 100%
      )
      left 
      bottom
      #007db8   
      no-repeat; 
    background-size:100% 5px ;
    z-index: 12;
}
#Inside-Barra-Top{
    width: 100%;
    display: flex;
    padding: 0.8%;
    align-items: center;
    color: #aaa;
}
.Input-Busca{
    height: 2.2em;
    padding-right: 14px;
    padding-left: 14px;
    text-align: start;
    width: 70%;
    border: none;
    outline: none;
}
#imagm{
    margin-left: 15%;
}
.Barra-Top img{
    width: 70px;
    height: 60px;
    
}

.clickable {
    cursor: pointer;
}

.Container-Pesquisa{
    width: 100%;
    display: flex;
    margin-left: 2%;
}
.btn {
    background-color: #007db8;
    border: 2px solid white;
    font-size: 14px;
    font-style: inherit;
    font-weight: 600;
    height: 2.1em;    
    width: 5em;
    text-align: center;
    line-height: 1.428571429;
    color: white;
    outline: none;
    cursor: pointer;
}
.btn:active{
    background: rgba(102,102,102,1);
    background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,125,184,1) 12%, rgba(0,125,184,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,102,102,1)), color-stop(12%, rgba(0,125,184,1)), color-stop(100%, rgba(0,125,184,1)));
    background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,125,184,1) 12%, rgba(0,125,184,1) 100%);
    background: -o-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,125,184,1) 12%, rgba(0,125,184,1) 100%);
    background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,125,184,1) 12%, rgba(0,125,184,1) 100%);
    background: linear-gradient(to bottom, rgba(102,102,102,1) 0%, rgba(0,125,184,1) 12%, rgba(0,125,184,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#007db8', GradientType=0 );
}
.Login{
    display: flex;
    align-items: center;
    margin-right: 16%;
}
.Login img{
    height: 20px;
    width: 20px;
}
.Login li{
    list-style-type: none;
    color: white;
    margin-left: .8em; 
    font-size: .9em;
}
.Responsive-menu img{
    width: 50px;
    height: 50px;
    display: none;
}

.Barra-Menu{
    background-color: #1DB9DD;
    display: flex;
    justify-content: space-between;
    height: 3.5em;
    
}
.Menu-left{
    padding-left: 2em;
    padding-top: 1em;
    width: 33.3%;
}
.Menu-left img{
    display: none;
}
.Menu-left a{
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}
.Menu-left a:hover{
    text-shadow: 2px 2px rgb(102, 102, 102);
}
.Menu-Right a:hover{
    text-shadow: 2px 2px rgb(102, 102, 102);
}
.Menu-left ul{
    list-style-type: none; 
    display: flex; 
    justify-content: space-between;
}
.Menu-left li{
    float: left;
    display: flex;
    text-align: center;
}
.Menu-fotos-middle{
    padding-top: .3em;
    width: 33.3%;
}
.Menu-fotos-middle ul{
    list-style-type: none;
    display: flex; 
    justify-content: center;
    
}
.Menu-fotos-middle li{
    float: left;
    margin-left: 1%;
}
.Menu-Right{
    padding-right: 2em;
    padding-top: 1em;
    width: 33.3%
}
.Menu-Right a{
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}
.Menu-Right ul{
    list-style-type: none;
    display: flex; 
    justify-content: space-between;
}
.Menu-Right li{
    float: left;
}
.Menu-fotos-middle img{
    height: 45px;
    width: 45px;
}
.Responsive-barra-menu-icon{
    display: none;
}
/* fim do menu */

/* inicio da  quebra */
.divisao {
    margin-top: 2em;
    text-align: center;
}
#planos{
    font-size: 2.4em;
}
.retangulo-divisao{
    margin-top: .3em;
    margin-left: auto;
    margin-right: auto; 
    background-color: #006c9b;
    height: 3px;
    width: 230px;
}
/* fim da quebra */

/* Inicio main */
.formulario{
    margin-top: 2em;
    margin-bottom: 2em;
}
.form-container{
    margin-top: 2em;
    border: 1px solid gray;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;

}
.form-header{
    background-color: #007db8;
    text-align: center;
    max-width: 600px;
    color: aliceblue;
    padding: 10px;
    margin: auto;
    border: 1px solid gray;
    border-bottom: none;
    

}
.form-header h2{
    
    margin: 0;
    padding: 15px;

}
form{
    margin: auto;
    margin-top: 15px;
    max-width: 600px;
}
form input[type=text]{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #7ac9b7;
    font-size: 18px;
}
form input[type=submit]{
    margin-bottom:20px;
    width: 100%;
    padding: 15px;
    border-radius:  5px;
    border: 1px solid #7ac9b7;
    background: #007db8;
    color: aliceblue;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;

}
form textarea{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #7ac9b7;
    margin-bottom: 20px;
    resize: none;
    font-size: 18px;
}

/* fim do main */

/* Chat */
.floating-chat {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: 70px;
    transform: translateY(70px);
    transition: all 250ms ease-out;
    border-radius: 50%;
    opacity: 0;
    background: -moz-linear-gradient(-45deg, #38af2e 0, #38af2e 25%, #38af2e 50%, #38af2e 75%, #38af2e 100%);
    background: -webkit-linear-gradient(-45deg, #38af2e 0, #38af2e 25%, #38af2e 50%, #38af2e 75%, #38af2e 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .floating-chat.enter:hover {
    box-shadow: 0 10px 20px rgba(0, 251, 0, 0), 0 6px 6px rgba(0, 251, 0, 0);
    opacity: 1;
  }
  .floating-chat.enter {
    transform: translateY(0);
    opacity: 0.6;
    box-shadow: 0px 1px 3px rgba(0, 251, 0, 0), 0px 1px 2px rgba(0, 251, 0, 0);
    z-index: 99;
  }
  .floating-chat.expand {
    width: 250px;
    max-height: 400px;
    height: 400px;
    border-radius: 5px;
    cursor: auto;
    opacity: 1;
  }
  .floating-chat :focus {
    outline: 0;
  }
  .floating-chat button {
    background: transparent;
    border: 0;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
  }
  .floating-chat .chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    transition: all 250ms ease-out;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .floating-chat .chat.enter {
    opacity: 1;
    border-radius: 0;
    margin: 10px;
    width: auto;
    height: auto;
  }
  .floating-chat .chat .header {
    flex-shrink: 0;
    padding-bottom: 10px;
    display: flex;
    background: transparent;
  }
  .floating-chat .chat .header .title {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 5px;
  }
  .floating-chat .chat .header button {
    flex-shrink: 0;
  }
  .floating-chat .chat .messages {
    padding: 10px;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    border-radius: 4px;
    background: transparent;
  }
  .floating-chat .chat .messages::-webkit-scrollbar {
    width: 5px;
  }
  .floating-chat .chat .messages::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
  }
  .floating-chat .chat .messages::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
  }
  .floating-chat .chat .messages li {
    position: relative;
    clear: both;
    display: inline-block;
    padding: 14px;
    margin: 0 0 20px 0;
    font: 12px/16px 'Noto Sans', sans-serif;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.465);
    word-wrap: break-word;
    max-width: 81%;
  }
  .floating-chat .chat .messages li:before {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    content: '';
    background-size: cover;
  }
  .floating-chat .chat .messages li:after {
    position: absolute;
    top: 10px;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid rgba(250, 250, 250, 0.465);
  }
  .floating-chat .chat .messages li.other {
    animation: show-chat-odd 0.15s 1 ease-in;
    -moz-animation: show-chat-odd 0.15s 1 ease-in;
    -webkit-animation: show-chat-odd 0.15s 1 ease-in;
    float: right;
    margin-right: 45px;
    color: rgb(2, 2, 2);
  }
  .floating-chat .chat .messages li.other:before {
    right: -45px;
    background-image: url(https://github.com/Thatkookooguy.png);
  }
  .floating-chat .chat .messages li.other:after {
    border-right: 10px solid transparent;
    right: -10px;
  }
  .floating-chat .chat .messages li.self {
    animation: show-chat-even 0.15s 1 ease-in;
    -moz-animation: show-chat-even 0.15s 1 ease-in;
    -webkit-animation: show-chat-even 0.15s 1 ease-in;
    float: left;
    margin-left: 45px;
    color: rgb(0, 0, 0);
  }
  .floating-chat .chat .messages li.self:before {
    left: -45px;
    background-image: url(https://github.com/ortichon.png);
  }
  .floating-chat .chat .messages li.self:after {
    border-left: 10px solid transparent;
    left: -10px;
  }
  .floating-chat .chat .footer {
    flex-shrink: 0;
    display: flex;
    padding-top: 10px;
    max-height: 90px;
    background: transparent;
  }
  .floating-chat .chat .footer .text-box {
    border-radius: 3px;
    background: rgba(250, 250, 250, 0.465);
    min-height: 1em;
    width: 100%;
    margin-right: 5px;
    color: rgb(248, 250, 249);
    overflow-y: auto;
    padding: 2px 5px;
  }
  .floating-chat .chat .footer .text-box::-webkit-scrollbar {
    width: 5px;
  }
  .floating-chat .chat .footer .text-box::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
  }
  .floating-chat .chat .footer .text-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
  }
  
  @keyframes show-chat-even {
    0% {
      margin-left: -480px;
    }
    100% {
      margin-left: 0;
    }
  }
  @-moz-keyframes show-chat-even {
    0% {
      margin-left: -480px;
    }
    100% {
      margin-left: 0;
    }
  }
  @-webkit-keyframes show-chat-even {
    0% {
      margin-left: -480px;
    }
    100% {
      margin-left: 0;
    }
  }
  @keyframes show-chat-odd {
    0% {
      margin-right: -480px;
    }
    100% {
      margin-right: 0;
    }
  }
  @-moz-keyframes show-chat-odd {
    0% {
      margin-right: -480px;
    }
    100% {
      margin-right: 0;
    }
  }
  @-webkit-keyframes show-chat-odd {
    0% {
      margin-right: -480px;
    }
    100% {
      margin-right: 0;
    }
  }
/* fim do chat */
.pagefooter{
    padding: 1em;
    height: 4em;
    background-color: #007db8;
    background:
      linear-gradient(
        to top, 
        rgb(0, 0, 0) 0%,
        /*purple rgba(92,7,52,1) 0%,*/
        rgba(0,125,184,1) 100%
      )
      left 
      top
      #007db8   
      no-repeat; 
    background-size:100% 5px ;
    z-index: 1;
}
.conteudo-footer{
    color: #fff;
    display: flex;
    margin-top: .4em;
    justify-content: left;
}
.conteudo-footer p{
    margin-left: 5em;
    font-size: 1.2em;
}
/* INICIO DE LAYOUT RESPONSIVO */
@media screen and (max-width: 1100px){
    .Barra-Top{
        padding-left: 0em;
        padding-right: 0em;
    }
    .Menu-fotos-middle img{
        height: 35px;
        width: 35px;
    }
    .Menu-fotos-middle{
        padding-top: .6em;
        width: 33.3%;
    }
    .conteudo-footer p{
        font-size: 1em;
    }
    .pagefooter{
        padding: .2em;
    }
}
@media screen and (max-width: 930px){
    #imagm{
        margin-left: 2%;
        height: 60px;
        width: 70px;
    }
    .Login{
        margin-right: 10%;
    }
    .Responsive-barra-menu{
        display: flex;
        justify-content: flex-end;
    }
    .Barra-Top{
        background-color: #007db8 !important;
    }
    .Barra-Menu{
        justify-content: flex-start;
        width: 6em;
        height: 100%;
        flex-direction: column;
        position: absolute;
        transition: all .2s;
        z-index: 9;
        overflow: hidden;
        position: fixed;
        top: 0;
        padding-top: 4.9em;
        
    }
    .Menu-fotos-middle img{
        display: none;
    }
    
    .Menu-Right ul{
        display: none;
        flex-direction: column; 
        margin-bottom: 38em;
    }
    .Menu-left ul{
        flex-direction: column; 
    }
    .Menu-Right{
        display: none;
        padding-top: inherit;
    }
    .Menu-left{
        display: none;
        padding-left: inherit;
    }

    .Barra-Menu:not(.mostra){
        height: 0em;
        
    }
    .Responsive-menu img{
        width: 30px;
        height: 30px;
        display: inherit;
        margin-left: -30%;
    }
    .Responsive-barra-menu-icon{
        display: inherit;
        padding-left: 1.5em;
    }
    .Menu-left-icon ul{
        list-style-type: none;
    }
    .Menu-Right-icon ul{
        list-style-type: none;
    }
    .Menu-left-icon img{
        width: 50px;
        height: 50px;
    }
    .Menu-Right-icon img{
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 760px){
    .Login img{
        display: none;
    }
    #imagm{
        display: none;
    }
    .conteudo-footer p{
        margin-left: 1em;
        font-size: 1em;
    }
    .pagefooter{
        padding: .2em;
    }
    
}