@using Microsoft.AspNetCore.Http;

@{
    if(Context.Session.GetString("idUsuario") == null){
        Layout = "MasterPageDeslogado";
        }
    else{
        Layout = "MasterPageLogado";
    }
}

 @section script {
        <script src="/JavaScript/Formulario/default.js"></script>
        <script src="/JavaScript/Formulario/index.js"></script>
    }
     @section style {
        <link href="/css/Formulario.css" rel="stylesheet" >
    }
<body>
    <div class="divisao">
        <img src="/Arquivo_img/Form_imagens/quebra-logo-checkpoint.png" alt="Logo do serviço checkpoint oferecido pela empresa Carfel">
        <h1 id="planos">Formulário</h1>
        <div class="retangulo-divisao"></div>
    </div>
    <main>
        <div class="formulario">
            <div class="form-header">
                <h2>Formulário para contato</h2>
            </div>
            <div class="form-container">
                <form>
                    <label>Seu nome</label>
                    <input type="text" name="name" placeholder="Seu nome">
                    <label>E-mail</label>
                    <input type="text" name="email" placeholder="Endereço de E-mail">
                    <label>Telefone para contato</label>
                    <input type="text" name="contato" placeholder="Seu numero">
                    <label>Mensagem</label>
                    <textarea name="Mensagem" rows="6" cols="15" placeholder="Mensagem"></textarea>
                    <input type="submit" value="Enviar Mensagem" id="submit">
                </form>
            </div>
        </div>
        <!-- Alteravel -->
    </main>
    <!-- chat -->
    <div class="floating-chat">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <div class="chat">
            <div class="header">
                <span class="title">
                    Tire suas dúvidas rápidas
                </span>
                <button>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>

            </div>
            <ul class="messages">
                <li class="other">Olá!</li>
                <li class="self">Olá</li>
                <li class="other">Como posso lhe ajudar?</li>
                <li class="self">Não estou entendendo como o software funciona</li>
                <li class="other">Ok, digite seu e-mail que todas as instruções serão encaminhadas</li>
                <li class="self">presidente@hotmail.com</li>
                <li class="other">Obrigado, as informações estão lá te esperando</li>
            </ul>
            <div class="footer">
                <div class="text-box" contenteditable="true" disabled="true"></div>
                <button id="sendMessage">send</button>
            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <!-- fim do chat -->

</body>

</html>