@using Microsoft.AspNetCore.Http;

@{
    if(Context.Session.GetString("idUsuario") == null){
        Layout = "MasterPageDeslogado";
        }
    else{
        Layout = "MasterPageLogadoADM";
    }
}
@section script {
        <script src="/JavaScript/FAQ/default.js"></script>
        <script src="/JavaScript/FAQ/index.js"></script>
        <script src="/JavaScript/FAQ/indexform.js"></script>
    }
     @section style {
        <link href="/css/FAQ.css" rel="stylesheet" >
    }
<body>
    <div class="divisao">
        <img src="/Arquivo_img/Faq_imagens/quebra-logo-checkpoint.png" alt="Logo do serviço checkpoint oferecido pela empresa Carfel">
        <h1 id="planos">FAQ</h1>
        <div class="retangulo-divisao"></div>
    </div>
    <main>
        <section class="cd-faq">
            <ul class="cd-faq-categories">
                <li>
                    <a class="selected" href="#basics">Basicos</a>
                </li>
                <li>
                    <a href="#mobile">Mobile</a>
                </li>
                <li>
                    <a href="#account">Conta</a>
                </li>
                <li>
                    <a href="#payments">Pagamentos</a>
                </li>
                <li>
                    <a href="#privacy">Privacidade</a>
                </li>
                <li>
                    <a href="#delivery">Entrega</a>
                </li>
            </ul>
            <!-- cd-faq-categories -->

            <div class="cd-faq-items">
                <ul id="basics" class="cd-faq-group">
                    <li class="cd-faq-title">
                        <h2>Basicos</h2>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">Como mudo minha senha?
                        </a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como me registro?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Posso remover um funcionário?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como vejo meu trabalho?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>
                </ul>
                <!-- cd-faq-group -->

                <ul id="mobile" class="cd-faq-group">
                    <li class="cd-faq-title">
                        <h2>Mobile</h2>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">Como funciona a sincronização?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como eu faço o upload dos meus arquivos pelo celular ou tablet?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como eu cadastro um funcionário?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>
                </ul>
                <!-- cd-faq-group -->

                <ul id="account" class="cd-faq-group">
                    <li class="cd-faq-title">
                        <h2>Account</h2>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">Como eu mudo minha senha</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como deleto minha conta?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como mudo as configurações da minha conta?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Esqueci minha senha, como consigo outra?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>
                </ul>
                <!-- cd-faq-group -->

                <ul id="payments" class="cd-faq-group">
                    <li class="cd-faq-title">
                        <h2>Payments</h2>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">Posso ter uma fatura da minha assinatura?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Por que meu pagamento com cartão de crédito ou PayPal falhou?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Por que meu extrato bancário mostra várias cobranças por um upgrade?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>
                </ul>
                <!-- cd-faq-group -->

                <ul id="privacy" class="cd-faq-group">
                    <li class="cd-faq-title">
                        <h2>Privacy</h2>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">Posso especificar minha própria chave privada?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Meus arquivos estão faltando! Como faço para recuperá-los?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como posso acessar os dados da minha conta?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como posso controlar se outros mecanismos de pesquisa podem vincular ao meu perfil?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>
                </ul>
                <!-- cd-faq-group -->

                <ul id="delivery" class="cd-faq-group">
                    <li class="cd-faq-title">
                        <h2>Delivery</h2>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">O que devo fazer se o meu pedido ainda não tiver sido entregue?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como posso encontrar suas informações de entrega internacional?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Quem cuida do envio?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como os retornos ou reembolsos funcionam?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como faço para usar perfis de envio?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como funciona o seu serviço de entrega no dia seguinte?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Como funciona o seu serviço de entrega no dia seguinte?</a>
                        <div class="cd-faq-content">

                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Quando meu pedido chegará?</a>
                        <div class="cd-faq-content">
                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Quando meu pedido será enviado?</a>
                        <div class="cd-faq-content">
                        </div>
                        <!-- cd-faq-content -->
                    </li>
                </ul>
                <!-- cd-faq-group -->
            </div>
            <!-- cd-faq-items -->
            <a href="#0" class="cd-close-panel">Close</a>
        </section>
        <!-- cd-faq -->
        <!-- Resource jQuery -->
        <!-- Alteravel -->
    </main>

    <!-- chat -->
    <div class="floating-chat">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <div class="chat">
            <div class="header">
                <span class="title">
                    Tire suas dúvidas rápidas
                </span>
                <button>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>

            </div>
            <ul class="messages">
                <li class="other">Olá!</li>
                <li class="self">Olá</li>
                <li class="other">Como posso lhe ajudar?</li>
                <li class="self">Não estou entendendo como o software funciona</li>
                <li class="other">Ok, digite seu e-mail que todas as instruções serão encaminhadas</li>
                <li class="self">presidente@hotmail.com</li>
                <li class="other">Obrigado, as informações estão lá te esperando</li>
            </ul>
            <div class="footer">
                <div class="text-box" contenteditable="true" disabled="true"></div>
                <button id="sendMessage">send</button>
            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

    <!-- fim do chat -->
</body>
